In [1]:
import pandas as pd
import numpy as np
import os
import re

path = os.path.join(os.getcwd(), 'raw')
pattern = re.compile(r'^([^_]+)')
dfs = []

dtype_dict = {
    'ticker': 'string',
    'quote_unixtime': 'int64',
    'quote_readtime': 'datetime64[ns]',
    'quote_date': 'datetime64[ns]',
    'quote_time_hours': 'float64',
    'underlying_last': 'float64',
    'expire_date': 'datetime64[ns]',
    'expire_unix': 'int64',
    'dte': 'float64',
    'c_delta': 'float64',
    'c_gamma': 'float64',
    'c_vega': 'float64',
    'c_theta': 'float64',
    'c_rho': 'float64',
    'c_iv': 'float64',
    'c_volume': 'float64',
    'c_last': 'float64',
    'c_size': 'string',
    'c_bid': 'float64',
    'c_ask': 'float64',
    'strike': 'float64',
    'p_bid': 'float64',
    'p_ask': 'float64',
    'p_size': 'string',
    'p_last': 'float64',
    'p_delta': 'float64',
    'p_gamma': 'float64',
    'p_vega': 'float64',
    'p_theta': 'float64',
    'p_rho': 'float64',
    'p_iv': 'float64',
    'p_volume': 'float64',
    'strike_distance': 'float64',
    'strike_distance_pct': 'float64'
}

for csv_file in os.listdir(path):
    if csv_file.endswith('.csv'):
        df = pd.read_csv(os.path.join(path, csv_file), low_memory=False)

        df.columns = df.columns.str.strip()
        df.columns = df.columns.str.lower()
        df.columns = df.columns.str.replace(r'[\[\]]', '', regex=True)

        df.replace(r'^\s*$', 0, regex=True, inplace=True)

        match = pattern.match(csv_file)

        if match:
            ticker = match.group(1)
            df.insert(0, 'ticker', ticker)

        # Convert columns to appropriate dtypes
        for col, dtype in dtype_dict.items():
            if col in df.columns:
                df[col] = df[col].astype(dtype)
            else:
                print(f"Column {col} not found in DataFrame.")

        dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

In [2]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10636363 entries, 0 to 10636362
Data columns (total 34 columns):
 #   Column               Dtype
---  ------               -----
 0   ticker               string
 1   quote_unixtime       int64
 2   quote_readtime       datetime64[ns]
 3   quote_date           datetime64[ns]
 4   quote_time_hours     float64
 5   underlying_last      float64
 6   expire_date          datetime64[ns]
 7   expire_unix          int64
 8   dte                  float64
 9   c_delta              float64
 10  c_gamma              float64
 11  c_vega               float64
 12  c_theta              float64
 13  c_rho                float64
 14  c_iv                 float64
 15  c_volume             float64
 16  c_last               float64
 17  c_size               string
 18  c_bid                float64
 19  c_ask                float64
 20  strike               float64
 21  p_bid                float64
 22  p_ask                float64
 23  p_size               string
 24  p_last               float64
 25  p_delta              float64
 26  p_gamma              float64
 27  p_vega               float64
 28  p_theta              float64
 29  p_rho                float64
 30  p_iv                 float64
 31  p_volume             float64
 32  strike_distance      float64
 33  strike_distance_pct  float64
dtypes: datetime64[ns](3), float64(26), int64(2), string(3)
memory usage: 2.7 GB

In [3]:
combined_df.describe()

,quote_unixtime,quote_readtime,quote_date,quote_time_hours,underlying_last,expire_date,expire_unix,dte,c_delta,c_gamma,...,p_last,p_delta,p_gamma,p_vega,p_theta,p_rho,p_iv,p_volume,strike_distance,strike_distance_pct
count,1.063636e+07,10636363,10636363,10636363.0,1.063636e+07,10636363,1.063636e+07,1.063636e+07,1.063636e+07,1.063636e+07,...,1.063636e+07,1.063636e+07,1.063636e+07,1.063636e+07,1.063636e+07,1.063636e+07,1.063636e+07,1.063636e+07,1.063636e+07,1.063636e+07
mean,1.617806e+09,2021-04-07 10:13:44.701524992,2021-04-06 18:13:44.701523456,16.0,4.234671e+02,2021-09-20 10:06:18.008080896,1.632206e+09,1.666623e+02,5.629740e-01,-3.615852e-02,...,4.167175e+01,-4.211074e-01,-6.726838e+00,-9.778648e+00,-1.326539e-01,-9.619400e-01,5.267494e-01,1.234924e+02,1.442932e+02,3.106391e-01
min,1.451941e+09,2016-01-04 16:00:00,2016-01-04 00:00:00,16.0,9.034000e+01,2016-01-08 00:00:00,1.452287e+09,0.000000e+00,0.000000e+00,-4.331897e+05,...,0.000000e+00,-1.000000e+00,-2.792569e+07,-2.069890e+04,-1.243369e+02,-8.064318e+02,-5.000000e-04,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.597176e+09,2020-08-11 16:00:00,2020-08-11 00:00:00,16.0,2.838500e+02,2021-01-15 00:00:00,1.610744e+09,2.196000e+01,1.522400e-01,3.100000e-04,...,4.000000e-02,-8.182000e-01,2.200000e-04,4.193000e-02,-1.151600e-01,-6.932100e-01,2.314500e-01,0.000000e+00,2.710000e+01,8.200000e-02
50%,1.623442e+09,2021-06-11 16:00:00,2021-06-11 00:00:00,16.0,3.701700e+02,2021-12-15 00:00:00,1.639602e+09,7.300000e+01,6.713500e-01,1.600000e-03,...,3.840000e+00,-3.268700e-01,1.490000e-03,2.385600e-01,-4.572000e-02,-1.230300e-01,3.791700e-01,1.000000e+00,6.810000e+01,2.060000e-01
75%,1.646687e+09,2022-03-07 16:00:00,2022-03-07 00:00:00,16.0,4.525500e+02,2022-08-19 00:00:00,1.660939e+09,2.400400e+02,9.132900e-01,5.230000e-03,...,2.725000e+01,-4.359000e-02,5.150000e-03,6.949000e-01,-1.501000e-02,-8.090000e-03,6.542300e-01,1.500000e+01,1.583000e+02,4.430000e-01
max,1.680293e+09,2023-03-31 16:00:00,2023-03-31 00:00:00,16.0,2.239760e+03,2025-12-19 00:00:00,1.766178e+09,1.096000e+03,1.000000e+00,5.146465e+01,...,2.552000e+03,0.000000e+00,5.263157e+02,1.246263e+02,0.000000e+00,0.000000e+00,6.450215e+01,2.979930e+05,4.469300e+03,1.042500e+01
std,3.972406e+07,NaN,NaN,0.0,2.606984e+02,NaN,4.317614e+07,2.057996e+02,3.756684e-01,1.328255e+02,...,1.243762e+02,3.745299e-01,1.037821e+04,1.692174e+02,5.760816e-01,5.477153e+00,6.489831e-01,1.711553e+03,2.153446e+02,3.301457e-01

In [4]:
combined_df.head()

,ticker,quote_unixtime,quote_readtime,quote_date,quote_time_hours,underlying_last,expire_date,expire_unix,dte,c_delta,...,p_last,p_delta,p_gamma,p_vega,p_theta,p_rho,p_iv,p_volume,strike_distance,strike_distance_pct
0,aapl,1546462800,2019-01-02 16:00:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,0.90886,...,0.01,-0.00034,0.00011,0.00079,-0.00509,-0.00041,1.62555,0.0,57.9,0.367
1,aapl,1546462800,2019-01-02 16:00:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.00000,...,0.01,-0.00069,0.00010,0.00039,-0.00518,-0.00010,1.46190,200.0,52.9,0.335
2,aapl,1546462800,2019-01-02 16:00:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.00000,...,0.04,-0.00066,0.00020,0.00000,-0.00425,-0.00009,1.30549,706.0,47.9,0.303
3,aapl,1546462800,2019-01-02 16:00:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.00000,...,0.01,-0.00120,0.00021,0.00089,-0.00434,-0.00005,1.15513,0.0,42.9,0.272
4,aapl,1546462800,2019-01-02 16:00:00,2019-01-02,16.0,157.92,2019-01-04,1546635600,2.0,1.00000,...,0.01,-0.00109,0.00024,0.00045,-0.00429,-0.00020,1.01062,0.0,37.9,0.240

In [5]:
combined_df['quote_unixtime'] = (pd.to_datetime
                                   (combined_df['quote_unixtime'], unit='s'))
combined_df['expire_unix'] = pd.to_datetime(combined_df['expire_unix'],
                                            unit='s')

In [6]:
combined_df.head()

,ticker,quote_unixtime,quote_readtime,quote_date,quote_time_hours,underlying_last,expire_date,expire_unix,dte,c_delta,...,p_last,p_delta,p_gamma,p_vega,p_theta,p_rho,p_iv,p_volume,strike_distance,strike_distance_pct
0,aapl,2019-01-02 21:00:00,2019-01-02 16:00:00,2019-01-02,16.0,157.92,2019-01-04,2019-01-04 21:00:00,2.0,0.90886,...,0.01,-0.00034,0.00011,0.00079,-0.00509,-0.00041,1.62555,0.0,57.9,0.367
1,aapl,2019-01-02 21:00:00,2019-01-02 16:00:00,2019-01-02,16.0,157.92,2019-01-04,2019-01-04 21:00:00,2.0,1.00000,...,0.01,-0.00069,0.00010,0.00039,-0.00518,-0.00010,1.46190,200.0,52.9,0.335
2,aapl,2019-01-02 21:00:00,2019-01-02 16:00:00,2019-01-02,16.0,157.92,2019-01-04,2019-01-04 21:00:00,2.0,1.00000,...,0.04,-0.00066,0.00020,0.00000,-0.00425,-0.00009,1.30549,706.0,47.9,0.303
3,aapl,2019-01-02 21:00:00,2019-01-02 16:00:00,2019-01-02,16.0,157.92,2019-01-04,2019-01-04 21:00:00,2.0,1.00000,...,0.01,-0.00120,0.00021,0.00089,-0.00434,-0.00005,1.15513,0.0,42.9,0.272
4,aapl,2019-01-02 21:00:00,2019-01-02 16:00:00,2019-01-02,16.0,157.92,2019-01-04,2019-01-04 21:00:00,2.0,1.00000,...,0.01,-0.00109,0.00024,0.00045,-0.00429,-0.00020,1.01062,0.0,37.9,0.240

In [7]:
combined_df.drop(columns=['quote_unixtime',
                          'quote_readtime',
                          'quote_time_hours',
                          'expire_unix',
                          ],
                 inplace=True)
combined_df.head()

,ticker,quote_date,underlying_last,expire_date,dte,c_delta,c_gamma,c_vega,c_theta,c_rho,...,p_last,p_delta,p_gamma,p_vega,p_theta,p_rho,p_iv,p_volume,strike_distance,strike_distance_pct
0,aapl,2019-01-02,157.92,2019-01-04,2.0,0.90886,0.00019,0.01709,-0.1004,0.00074,...,0.01,-0.00034,0.00011,0.00079,-0.00509,-0.00041,1.62555,0.0,57.9,0.367
1,aapl,2019-01-02,157.92,2019-01-04,2.0,1.00000,0.00000,0.00000,0.0000,0.00000,...,0.01,-0.00069,0.00010,0.00039,-0.00518,-0.00010,1.46190,200.0,52.9,0.335
2,aapl,2019-01-02,157.92,2019-01-04,2.0,1.00000,0.00000,0.00000,0.0000,0.00000,...,0.04,-0.00066,0.00020,0.00000,-0.00425,-0.00009,1.30549,706.0,47.9,0.303
3,aapl,2019-01-02,157.92,2019-01-04,2.0,1.00000,0.00000,0.00000,0.0000,0.00000,...,0.01,-0.00120,0.00021,0.00089,-0.00434,-0.00005,1.15513,0.0,42.9,0.272
4,aapl,2019-01-02,157.92,2019-01-04,2.0,1.00000,0.00000,0.00000,0.0000,0.00000,...,0.01,-0.00109,0.00024,0.00045,-0.00429,-0.00020,1.01062,0.0,37.9,0.240

In [8]:
def contract_size(c_size: str) -> list:
    c_size = c_size.split(' x ')
    return list(map(int, c_size))
# print(contract_size('100 x 100'))

In [9]:
combined_df['c_size'] = combined_df['c_size'].apply(contract_size)
combined_df['p_size'] = combined_df['p_size'].apply(contract_size)

In [10]:
combined_df.head()

,ticker,quote_date,underlying_last,expire_date,dte,c_delta,c_gamma,c_vega,c_theta,c_rho,...,p_last,p_delta,p_gamma,p_vega,p_theta,p_rho,p_iv,p_volume,strike_distance,strike_distance_pct
0,aapl,2019-01-02,157.92,2019-01-04,2.0,0.90886,0.00019,0.01709,-0.1004,0.00074,...,0.01,-0.00034,0.00011,0.00079,-0.00509,-0.00041,1.62555,0.0,57.9,0.367
1,aapl,2019-01-02,157.92,2019-01-04,2.0,1.00000,0.00000,0.00000,0.0000,0.00000,...,0.01,-0.00069,0.00010,0.00039,-0.00518,-0.00010,1.46190,200.0,52.9,0.335
2,aapl,2019-01-02,157.92,2019-01-04,2.0,1.00000,0.00000,0.00000,0.0000,0.00000,...,0.04,-0.00066,0.00020,0.00000,-0.00425,-0.00009,1.30549,706.0,47.9,0.303
3,aapl,2019-01-02,157.92,2019-01-04,2.0,1.00000,0.00000,0.00000,0.0000,0.00000,...,0.01,-0.00120,0.00021,0.00089,-0.00434,-0.00005,1.15513,0.0,42.9,0.272
4,aapl,2019-01-02,157.92,2019-01-04,2.0,1.00000,0.00000,0.00000,0.0000,0.00000,...,0.01,-0.00109,0.00024,0.00045,-0.00429,-0.00020,1.01062,0.0,37.9,0.240

In [11]:
combined_df['c_actual_price'] = (combined_df['c_bid'] + combined_df['c_ask']) / 2
combined_df['p_actual_price'] = (combined_df['p_bid'] + combined_df['p_ask']) / 2
combined_df['c_abs_error'] = abs(combined_df['c_last'] - combined_df['c_actual_price'])
combined_df['p_abs_error'] = abs(combined_df['p_last'] - combined_df['p_actual_price'])

In [12]:
combined_df.to_csv('combined_df.csv', index=False)